<div class="list-group">
    <div align="center">
        <a class="list-group-item list-group-item-info" href="" onClick="return false;">
            <h2>Practicar</h2>
        </a>
    </div>
    <a href="?x=pali/testVocabulary" class="list-group-item">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
        Vocabulario
    </a>
</div>
