<div id="testVocabulary">
    <div id="testVocabularyWord" role="alert" class="alert alert-info"></div>
    <div id="testVocabularyWordAnswer" role="alert" class="alert alert-success">
        <div align="center">
            <button type="button" class="btn btn-default btn-lg" onClick="Pali.vocabulary.testAnswer(0);">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div id="testVocabularyOption_0" role="alert" class="alert alert-info"></div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div id="testVocabularyOption_1" role="alert" class="alert alert-info"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div id="testVocabularyOption_2" role="alert" class="alert alert-info"></div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div id="testVocabularyOption_3" role="alert" class="alert alert-info"></div>
        </div>
    </div>
    <a href="?x=pali/testVocabulary" role="button" class="btn btn-info btn-lg" style="width: 100%">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </a>
</div>

<script src="modules/pali/testVocabulary.js"></script>

<script>
$(document).ready(function(){
        Pali.vocabulary.selectWord().testMeOut();
        });
</script>
